<section>
  <header class="major">
    <h2> {{ label }} </h2>
  </header>
  <p>{{ content.field_notice.0 }}</p>
  <ul class="contact">
    <li class="icon solid fa-envelope">{{ content.field_email }}</li>
    <li class="icon solid fa-phone">{{ content.field_phone_number }}</li>
    <li class="icon solid fa-home">{{ content.field_adress }}</li>
  </ul>
</section>
